
services:

### 1. MariaDB Service (Base de données)
  mariadb:
    build:
      context: ./requirements/mariadb # Chemin vers le Dockerfile de MariaDB
      dockerfile: Dockerfile
    image: mariadb # Nom de l'image = Nom du service
    container_name: mariadb
    env_file: .env # Utilisation des variables d'environnement
    secrets:
      - db_root_password_file
      - db_admin_password_file
      - db_user_password_file
    restart: always # Redémarrage automatique
    networks:
      - inception_net
    volumes:
      - /home/lguiet/data/mariadb:/var/lib/mysql

### 2. WordPress Service (PHP-FPM)
  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress
    container_name: wordpress
    env_file: .env
    secrets:
      - db_user_password_file
      - db_admin_password_file
    restart: always
    networks:
      - inception_net
    depends_on:
      - mariadb
    volumes:
      - /home/lguiet/data/wordpress:/var/www/html/wordpress


### 3. NGINX Service (Point d'entrée sécurisé)
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image: nginx
    container_name: nginx
    env_file: .env
    restart: always
    networks:
      - inception_net
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - ./requirements/nginx/conf/:/etc/nginx/ssl/:rw

# Définition des volumes nommés
volumes: {}
networks:
  inception_net:
    driver: bridge # Réseau Docker dédié

secrets:
  db_root_password_file:
    file: ./secrets/mysql_root_password.txt
  db_user_password_file:
    file: ./secrets/mysql_password.txt
  db_admin_password_file:
    file: ./secrets/mysql_admin_password.txt